### 1. Importing Libraries

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
import joblib

### 2. Display Settings

In [2]:
pd.set_option("display.max_columns", None)
sklearn.set_config(transform_output="pandas")

### 3. Get the data

In [5]:
train_df = pd.read_csv("data/train.csv")
val_df = pd.read_csv("data/validation.csv")
test_df = pd.read_csv("data/test.csv")

In [6]:
train_df

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-18,Mumbai,Hyderabad,10:20:00,11:50:00,90,0.0,In-flight meal not included,4160
1,Goair,2019-04-06,Banglore,Delhi,07:45:00,10:40:00,175,0.0,No Info,4632
2,Jet Airways,2019-06-06,Delhi,Cochin,16:00:00,04:25:00,745,1.0,In-flight meal not included,10262
3,Indigo,2019-03-09,Delhi,Cochin,11:55:00,21:20:00,565,2.0,No Info,8378
4,Indigo,2019-06-03,Delhi,Cochin,11:25:00,21:00:00,575,1.0,No Info,6093
...,...,...,...,...,...,...,...,...,...,...
635,Indigo,2019-05-27,Delhi,Cochin,10:35:00,21:00:00,625,1.0,No Info,6314
636,Air India,2019-05-09,Kolkata,Banglore,08:20:00,07:55:00,1415,2.0,No Info,10697
637,Multiple Carriers,2019-06-01,Delhi,Cochin,07:30:00,19:00:00,690,1.0,No Info,11200
638,Jet Airways,2019-03-06,Delhi,Cochin,17:55:00,04:25:00,2070,2.0,No Info,17072
639,Indigo,2019-03-21,Delhi,Cochin,16:00:00,01:35:00,575,1.0,No Info,9264

### 3.1 Split the data

In [7]:
def split_data(data):
    X = data.drop(columns="price")
    y = data.price.copy()
    return (X, y)

In [8]:
X_train, y_train = split_data(train_df)

In [11]:
X_val, y_val = split_data(val_df)
X_val.shape, y_val.shape

((160, 9), (160,))

In [13]:
X_test, y_test = split_data(test_df)
X_test.shape, y_test.shape

((200, 9), (200,))

### 3.2 Meta-info

In [14]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          640 non-null    object
 1   date_of_journey  640 non-null    object
 2   source           640 non-null    object
 3   destination      640 non-null    object
 4   dep_time         640 non-null    object
 5   arrival_time     640 non-null    object
 6   duration         640 non-null    int64
 7   total_stops      640 non-null    float64
 8   additional_info  640 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 45.1+ KB

### 4. Data Preprocessing

In [23]:
dt_cols = ["date_of_journey", "dep_time", "arrival_time"]

num_cols = ["duration", "total_stops"]

cat_cols = [col for col in X_train.columns if (col not in dt_cols) and (col not in num_cols)]

In [24]:
cat_cols

['airline', 'source', 'destination', 'additional_info']

In [ ]:
num_pipe = Pipeline(
    
)